*.orig
*.test
.*.swp
.DS_Store
.DS_Store
.dotcloud
.flymake*
.git/
.gopath/
.hg/
.idea
.vagrant*
Vagrantfile
a.out
bin
build_src
bundles/
docker/docker
docs/_build
docs/_static
docs/_templates
pyenv
vendor/pkg/
